<% include partials/header %>
<h1>You're about to send an anonymous message to <%= rec %></h1>

<br>

<h2>Enter the message and hit submit</h2>
  <form method="POST" action="/anon">

    <input type="hidden" name = "to" value="<%= rec %>" readonly>
    <textarea class="form-control" rows="5" name="submission" ></textarea>
    <button type="submit" class="btn btn-primary ">Submit</button> 
  </form>



<% include partials/footer %>